.NavBar{
    position: fixed;
    background-color: #111;
    height: 40px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    
}
.logo{
    position: fixed;
    left: 20px;
    margin-top: 2px;
    width: 80px;
  

}
.avatar{
    position: fixed;
    right: 20px;
    width: 30px;

}