.App{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}
.read{
    margin-top: 30px;
}
label ,button{
    margin: 5px;
    
}
input{
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: ce;
}
.food{
    margin-top: 20px;       
    border-radius: 5px;    
    border-bottom: 20px;
    display: flex;
    margin-right: 10px;
}

.food.button{
    background-color: red;
}
h2{
    margin: 5px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(110, 99, 99);
}